<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyJobPortalApplication"
        tools:targetApi="31">
        <activity
            android:name=".commonActivities.chatAddList"
            android:exported="false" />
        <activity
            android:name=".commonActivities.ChatList"
            android:exported="false" />
        <activity
            android:name=".JobSeekerPart.OtherApplicantProfile"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.CandidateDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.candidateActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.OtherRecruiterProfile"
            android:exported="false" />
        <activity
            android:name=".JobSeekerPart.ApplicantJobList"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.RecruiterProfile"
            android:exported="false" />
        <activity
            android:name=".Settings.changePassword"
            android:exported="false" />
        <activity
            android:name=".Settings.Settings"
            android:exported="false" />
        <activity
            android:name=".commonActivities.ChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".commonActivities.JobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".commonActivities.JobListActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.AddJobActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerPart.ApplicantProfile"
            android:exported="false" />
        <activity
            android:name=".EmployerPart.RecruiterJobList"
            android:exported="false" />
        <activity
            android:name=".LoginRegistration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegistration.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".data_Model.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>